.navbar-container{
  border-bottom: solid 1px white;
}

.create {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #272525; 
  border: 2px solid #272525; 
  border-radius: 5px;
  position: absolute;
  margin-right: 20px;
  right: 0;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease; 

  &:hover {
    background-color: rgb(44, 44, 44); 
    color: #ffffff; 
    border: 2px solid rgb(44, 44, 44);
  }
}

select {
  background-color: #121212; 
  color: #ffffff; 
  padding: 8px;
  border-color: #333333;
  border-radius: 5px;
  cursor: pointer;
}


select:focus {
  outline: none;
  border-color: #333333;
}


select option {
  background-color: #121212;
  color: #ffffff;
}

