.navbar-container{
  border-bottom: solid 1px white;
}

.navbar-container div{
  margin-left: 10px;
}

.create{
  padding: 8px 8px;
  background-color: #0070cc;
  border-radius: 8px;
  color: black;
}
.create:hover{
  background-color: #007ee6;
}

.project-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
  top: 70px; 
}

.project-menu li {
  padding: 10px;
  cursor: pointer;
}

.project-menu li:hover {
  background-color: #252525;
}
