.task-container {
    border: 1px solid rgba(255, 255, 255, 0.1); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: left;
    border-radius: 8px; 
    padding: 8px;
    margin-bottom: 10px;
    color: #fff;
}

.task-container p{
    margin: 5px;
    font-size: smaller;
}

.owner{
    display: flex;
    justify-content: right;
}